.header{
    margin: auto;
    width: 95%;
    display: flex;
    /* justify-content: space-evenly; */
    background-color: rgb(53, 211, 53);
}
.header-logo{
    width: 250px;
    height: 190px;
    margin-top: 27px;
}

.title{
    /* background-color: rgb(53, 211, 53); */
    color: rgb(80, 11, 11);
    padding: 20px;
    border-radius: 4px;
    font-size: 19px;
    
}
.title h1{
    margin-bottom: 0;
}
.title small {
    margin-left: 400px;
    line-height: 10px;
    
}