.members{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
    /* justify-content: space-between; */
}

.cart{
    padding: 30px;
    text-align: justify;
    box-shadow: 0px 0px 5px 4px rgb(82, 102, 60);
    position: fixed;
    top: 278px;
    right: 10px;
    color: rgb(66, 33, 10);
    width: 235px;
}
#cart-btn{
    background-color: rgb(14, 28, 0);
    padding: 10px 40px;
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: 5px 4px 5px rgb(21, 34, 8);
    border-radius: 5px;
    cursor: pointer;
}
